{% extends "app_blog/base.html" %}

{% block title %}
  Series Detail
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

        <h1 class="display-4" style="text-align: center;">Series <i>{{ series.name }}</i> Detail</h1>
        <br/>
        <div style="text-align: center;">
            <a href="{% url 'app_blog:series-update' series.pk %}" class="btn btn-primary">Edit Series Name -- {{ series.name }}</a>
            &nbsp;
            <a href="{% url 'app_blog:series-delete' series.pk %}" class="btn btn-danger">Delete Series Name -- {{ series.name }}</a>
        </div>
        <br/><br/>
        <table id="blogTable" class="table display" style="text-align: center;">
            <thead>
                <th>No</th>
                <th>Title</th>
                <th>Author</th>
            </thead>
            <tbody style="text-align: left;">
                {% for post in post %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'app_blog:post-detail' post.pk %}">
                                {{ post.title }}
                            </a>                  
                        </td>
                        <td>{{ post.author }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>

        var table = $('#blogTable').DataTable({
            //serverSide: true,
        });

    </script>

{% endblock %}
