{% extends "app_blog/base.html" %}

{% block title %}
  Delete Series
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li>
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Delete Confirmation</h1>
<p>Are you sure you want to delete Series "{{ object.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm" class="btn btn-primary" style="background-color:#f48840; border-color: #f48840;" />
    <a href="{% url 'app_blog:series-list' %}">Cancel</a>
</form>
{% endblock %}