{% extends "app_blog/base.html" %}

{% block title %}
  Tag List
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li>
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

        <h1 class="display-4" style="text-align: center;">Tag List</h1>

        <table id="blogTable" class="table display" style="text-align: center;">
            <thead>
                <th>No</th>
                <th>Tag Name</th>
                <th>Number of Blog</th>
                <th>Post</th>
                <th>Action</th>
            </thead>
            <tbody style="text-align: left;">
                {% for t in object_list %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'app_blog:tag-detail' t.id %}">
                                {{ t.name }}
                            </a>                  
                        </td>
                        <td>{{ t.post_set.all.count }}</td>
                        <td>
                            <ol>
                                {% for post in t.post_set.all %}
                                    <li>{{ post.title }}</li>
                                {% empty %}
                                    <span class="text-muted">
                                        No posts related
                                    </span>
                                {% endfor %}
                            </ol>
                        </td>
                        <td> 
                            <a href="{% url 'app_blog:tag-delete' t.id %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'app_blog:tag-update' t.id %}" class="btn btn-success">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'app_blog:tag-create' %}" class="btn btn-primary">Create new tag</a>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>

        var table = $('#blogTable').DataTable({
            //serverSide: true,
        });

    </script>

{% endblock %}