{% extends "app_blog/base.html" %}

{% block title %}
  Tag Detail
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li>
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

        <h1 class="display-4" style="text-align: center;">Tag <i>{{ tag.name }}</i> Detail</h1>
        <br/>
        <div style="text-align: center;">
            <a href="{% url 'app_blog:tag-update' tag.pk %}" class="btn btn-primary">Edit Tag Name -- {{ tag.name }}</a>
            &nbsp;
            <a href="{% url 'app_blog:tag-delete' tag.pk %}" class="btn btn-danger">Delete Tag Name -- {{ tag.name }}</a>
        </div>
        <br/><br/>
        <table id="blogTable" class="table display" style="text-align: center;">
            <thead>
                <th>No</th>
                <th>Title</th>
                <th>Author</th>
            </thead>
            <tbody style="text-align: left;">
                {% for post in tag.post_set.all %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url 'app_blog:post-detail' post.pk %}">
                                {{ post.title }}
                            </a>                  
                        </td>
                        <td>{{ post.author }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>

        var table = $('#blogTable').DataTable({
            //serverSide: true,
        });

    </script>

{% endblock %}