{% extends "app_blog/base.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li>
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}

    <h3>{{ post.title}}</h3>
    <p>Posted By {{ post.author }}</p>
    <p style="color:black;">Contributed By 
      {% for contributor in post.contributors.all %}
        <li>{{ contributor.username }}</li>
      {% empty %}
          No contributors
      {% endfor %}
    </p>
    <br/>
    <div class="card">
      <div class="card-body">
        <h4>Description</h4>
        <br/>
        <h5>{{ post.content }}</h5>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-body">
        <h4>Attached File</h4>
        <br/>
        {% for files in post.postfile_set.all %}
            <a href="{{ files.file.url }}">{{ files.file.name }}</a><br>
        {% endfor %}
      </div>
    </div>
    <br/>
    {% for tag in post.tags.all %}
        <span class="badge badge-secondary">{{ tag }}</span>
    {% endfor %}
    <span class="badge badge-secondary">{{ post.series }}</span>
    <br/><br/>
    <a href="{% url 'app_blog:post-delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
    <a href="{% url 'app_blog:post-update' post.pk %}" class="btn btn-success btn-sm">Edit</a>
    <br/>
    <hr/>
    <h4 style="font-weight: normal">Comments...</h4>
    {% for comments in post.comment_set.all %}
    <br />
    <i class="fa fa-user"></i>
    <b>{{ comments.commenter }}</b>
    <br />
    {{ comments.comment_detail }}
    <br />
    {% endfor %}

{% endblock %}