{% extends "app_blog/base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}



{% block title %}
  Blog Post
{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
    <li>
    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Log In</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:80%; margin-left: auto; margin-right: auto;">
        <p>You can manually sort your post's sequence individually. Default sequence is 1 (First Post To Display).</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
        <h1 class="display-4" style="text-align: center;">New Post</h1>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form| crispy}}
                        <input type="submit" class="btn btn-primary" value="Create New Post" />
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
