{% extends "app_blog/base.html" %}

{% block title %}
  {{ comment.commenter }}
{% endblock %}

{% block content %}

    <h3>{{ comment.commenter }}</h3>
    <br/><br/>
    {% for comments in comment.comment_detail.all %}
        <p>comments</p>
    {% endfor %}
    <span class="badge badge-secondary">{{ post.series }}</span>
    <br/><br/>
    <a href="{% url 'blog-delete' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
    <a href="{% url 'blog-update' post.pk %}" class="btn btn-success btn-sm">Edit</a>
    <br/>
    <hr/>
    <h4 style="font-weight: normal">Comments...</h4>
    {% for comments in post.comment_set.all %}
    <br />
    <i class="fa fa-user"></i>
    <b>{{ comments.commenter }}</b>
    <br />
    {{ comments.comment_detail }}
    <br />
    {% endfor %}

{% endblock %}