{% extends "app_blog/base.html" %}

{% block title %}
  Tag List
{% endblock %}

{% block content %}

        <h1 class="display-4" style="text-align: center;">Tag {{ post.name }} List</h1>
        <div style="text-align: center;">
            <a href="{% url 'tag-update' tag.pk %}" class="btn btn-primary">Edit Tag Name -- {{ post.name }}</a>
            &nbsp;
            <a href="{% url 'tag-delete' tag.pk %}" class="btn btn-danger">Delete Tag Name -- {{ post.name }}</a>
        </div>
        <br/><br/>
        <table id="blogTable" class="table display" style="text-align: center;">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
            </thead>
            <tbody style="text-align: left;">
                {% for post in tag.post_set.all %}
                    <tr>
                        <td>
                            {{ post.id }}
                        </td>
                        <td>
                            <a href="{% url 'post-detail' post.pk %}">
                                {{ post.title }}
                            </a>                  
                        </td>
                        <td>{{ post.author }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script>

        var table = $('#blogTable').DataTable({
            //serverSide: true,
        });

    </script>

{% endblock %}