{% extends "app_blog/base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}



{% block title %}
  Comment Post
{% endblock %}

{% block content %}
        <h1 class="display-4" style="text-align: center;">Update Comment</h1>
        <div class="container">
            <div class="row my-5">
                <div class="col-md-12">
                    <input class="form-control" type="text" placeholder="{{ object.post }}" readonly>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{form| crispy}}
                        <input type="submit" class="btn btn-primary" value="Change Comment" />
                    </form>
                </div> 
            </div>
        </div>
{% endblock %}